body {
  font-size: 16px;
  color: white;
  background-color: #95a3c9ea;
  background-size: cover;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #e9d698da;
  border-radius: 10px;
  border: 2px solid #fff ;
  position: relative;
}

#logo-img {
  background: url('../images/qubee_logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 20px 10px 10px 20px;
}
.navbar {
  align-items: start;
  display: inline;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #2905f7;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 1000;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand h1 span {
  color: #f70509;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color:  #000000;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lobster', cursive;
  font-size: .9em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
#nav-list a {
  color: #0e0938;-
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#collapsable-nav a:active {
   color: red;
}
.search-bar button {
  background-color: #0e0938;
}
input, select, textarea{
    color: #000000;
    width: 250px;
    height: 34.18px;
}

textarea:focus, input:focus {
    color: #000000;
}
.btn
{
  height: 34.18px;
  margin-bottom: 5px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid blue;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.call-us {
  background: linear-gradient(to right bottom,#4776E6,#8E54E9);
  padding: 10px 16px;
  height: 60px;
  width: 100px;
  border: none;
  border-radius: 20px;
  position: absolute;
  bottom:10px;
  right: 15px
}
.call-us a {
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.call-us a:hover{
  text-decoration: none;
}
.container {
  height: 50px;
  margin-top: 10px;
}
.social_media {
  justify-content: flex-end!important;
  display: flex!important;
  float: right;
  margin-right: 20px;
  margin-bottom: 15px;
}
#copy_right {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  color: #000102;
  float: left;

}

/********** Large devices only **********/
@media (min-width: 1200px) {
  nav.search-bar {
  float: right;
  margin-right: 150px;
}
#nav-list {
  margin: 10px 75px 20px 10px;
  display: inline-table;
}
.specials {
  float: left;
  width: 25%;
  text-align: center;
  margin-left: 25px;
  padding: 10px;
  border: 1px solid red;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 1rem!important;
  }
  .row {
    margin-top: 10px;
  }
  .column1 {
    border: 2px solid black;
    border-radius: 10px ;
    margin-left: 40px;
    text-align: center;
    float:right;
    width: 25%;
    box-shadow: 5px 5px 5px black;
  }
  .column2 {
    float:left;
    width: 65%;
    margin-left: 50px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/qubee_logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  div.navbar-header {
    margin-top: 10px;
    margin-left: 10px;
  }
  #nav-list {
  margin: 5px 56px 70px 50px;
  display: inline-table;
}
.specials {
  float: left;
  width: 25%;
  text-align: center;
  margin-left: 25px;
  padding: 10px;
  border: 1px solid red;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 1rem!important;
  }
  .row {
    margin-top: 10px;
  }
  .column1 {
    border: 2px solid black;
    border-radius: 10px ;
    margin-left: 30px;
    text-align: center;
    float:right;
    width: 25%;
    box-shadow: 5px 5px 5px black;
  }
  .column2 {
    float:left;
    width: 65%;
    margin-left:30px;
  }
  #navbar-header {
     margin-top: 100px;
  }
  nav.search-bar {
   float: right;
   position: absolute;
   right: 150px;
   bottom: 10px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #nav-list {
  margin: 5px 57px 70px 50px;
  display: inline-table;
}
    nav.search-bar {
    float: right;
    position: absolute;
    right: 150px;
    bottom: 10px;
  }
  .navbar-brand h1 {
    font-size: 1.1em;
  }
  div.navbar-header {
    margin-top: 20px;
    margin-left: 10px;
  }
  .specials {
  float: left;
  width: 25%;
  text-align: center;
  margin-left: 25px;
  padding: 10px;
  border: 1px solid red;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 1rem!important;
  }
  .row {
    margin-top: 10px;
  }
  .column1 {
    border: 2px solid black;
    border-radius: 10px ;
    margin-left: 30px;
    text-align: center;
    float:right;
    width: 25%;
    box-shadow: 5px 5px 5px black;
  }
  .column2 {
    float:left;
    width: 65%;
    margin-left: 30px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 .column1 {
    border: 2px solid black;
    border-radius: 10px ;
    margin-left: 30px;
    margin-top: 10px;
    width: 90%;
    text-align: center;
    float:right;
    box-shadow: 5px 5px 5px black;
  }
  div.column2 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 1rem!important;
}
  div.navbar-header {
    height: 90px;
  }
  
  }
  